<html>
  <body>
    <!-- The dashboard is the outer container that wraps the three UI panels: map, interpreter, and output -->
    <div id="dashboard">

      <!-- The Map -->
      <div class="half" id="map">
	<div id="map-container"></div>
	<!-- <div id="map-label"> <center> Map </center> </div> -->
        <div id="statsBar" >
          <pre class="stat" id="health">Health:</pre>
          <pre class="stat" id="battery">Battery:</pre>
        </div>
      </div>

      <!-- The right hand side containing the two text boxes -->
      <div class="half" id="terminals"> 
	<!-- The area for text output from the game -->
	<div class="terminal" id="log">
    <ul id="log-text">
    <li class="log-msg" id="welcome-msg">
      <font size=4> Welcome to Bot Quest!</font><br>
      <font size=3> &nbsp; &nbsp; Try typing a command below </font>
      </li>
      <li class="log-msg" id="log-latest">
        Latest output highlighted in red.
      </li>
    </ul>
	</div>
	<!-- The interpreter terminal -->
	<div class="terminal" id="shell">   
	  <textarea id="interactive" cols="85" rows="1"></textarea>
	</div>
      </div>

    </div>
    <!-- This is kind of jank but for now the easiest way I can find to 
	 test the front end requires having a pre block I can print to.
   May want find a cleaner way to do it later -->
    <pre id="output"></pre>
  </body>
</html>
