// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
  height:100%;
  width:100%;
  background: #505050;
}

#dashboard {
  //boarder: 2px solid black;
  background: #909090;
  width: 95%;
  height: 80%;
  //boarder: 5px solid #000000;
  margin: 15px auto;
  //padding: 10px;
}

.half {
  background: #446644;
  width: 49%;
  height: 98%;
  margin: .5%;
  overflow: hidden;
}
  

#map {
  float: left;
}

#map-chars {
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;

  display: block;
  margin: auto;
  overflow: hiden;
  resize: none;
}

#terminals {
  float: right;
}

#log {
  height:40%;
  padding: 15px;
  //margin: auto;
  background: #eeeeee
}

#shell {
  height:60%;
  //margin:auto
}
