// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
  height:100%;
  width:100%;
  background: #505050;
}

#dashboard {
  //boarder: 2px solid black;
  background: #909090;
  width: 95%;
  height: 80%;
  //boarder: 5px solid #000000;
  margin: 15px auto;
  //padding: 10px;
}

.half {
  background: #444466;
  width: 49%;
  height: 98%;
  margin: .5%;
  overflow: hidden;
}
 
#map-container {
  text-align: center;
  margin: 30px auto;
}


#map {
  float: left;
}

#statsBar {
  align: center;
  margin: 0% 5%;
  height: 1.5em;
  font-size: 1.5em;
}

.stat {
  background: #eeeeee;
  width: 49%;
  margin: 0px 0px;
}

#battery {
  float: right;
}

#health {
  float: left;
}

#terminals {
  float: right;
}

#log {
  height:30%;
  padding: 15px;
  //margin: auto;
  background: #eeeeee;
  overflow-y: scroll;
}

.log-msg {
  display: block;
}

#log-latest {
  color: #d00;
  background: #ccc;
}

#welcome-msg {
  background-color: #ccc;
}

#shell {
  height:60%;
  font-size: 80%;
  //margin:auto
}

#account-links {
  margin: 0 auto;
  text-align: center;
  width: 25%;
  background: #ccc;
  padding: 6px;
}
